<footer class="last-section">
    <div class="container">
        <div class="row pt-5">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 text-white">
            <h6 class="">About us</h6>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiut
            aliquip exea commodo consequat.</p>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
            <h6 class="lh-lg">Company</h6>
            <ul class=""style="line-height: 35px;">
                <li><a href="about-us.html" target="_blank"><i class="fa-solid fa-angle-right me-3"></i>About Us</a></li>
                <li><a href="contact-us.html" target="_blank"><i class="fa-solid fa-angle-right me-3"></i>Contact Us</a></li>
                <li><a href="#"><i class="fa-solid fa-angle-right me-3"></i>Community Blog</a></li>
            </ul>
        </div>
        <div class="col-xl-3 col-lg-2 col-md-4 col-sm-6">
            <h6 class="lh-lg">PROFILE</h6>
            <ul class="" style="line-height: 35px;">
            <li><a href="index.html"><i class="fa-solid fa-angle-right me-3"></i>My Profile</a></li>
            <li><a href="#"><i class="fa-solid fa-angle-right me-3"></i>Last order</a></li>
            <li><a href="#"><i class="fa-solid fa-angle-right me-3"></i>Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <h6 class="">JOIN US</h6>
            <button href="#" class="BUTTON1-footer w-50 mb-3 text-dark p-1" role="button" >Enter Your Email</button><br>
            <button href="#" class="BUTTON2-footer w-50 mb-3 p-1" role="button" >Subscribe</button>
            <div>
         
        
            <!-- Force next columns to break to new line -->
            <div class="w-100"></div>
        
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h6 class="">FOLLOW US</h6>
                <div class="d-flex flex-row mb-3">
                <div class="p-2">
                    <div class="card-iconfooter bg-light bg-opacity-50 rounded-circle text-center">
                    <a href="#" class="">
                        <i class="fa-brands fa-facebook text-white"></i>
                    </a>
                    </div>
                </div>
                <div class="p-2">
                    <div class="card-iconfooter bg-light bg-opacity-50 rounded-circle text-center">
                    <a href="#" class="">
                        <i class="fa-brands fa-youtube text-white "></i>
                    </a>
                    </div>
                </div>
                <div class="p-2">
                    <div class="card-iconfooter bg-light bg-opacity-50 rounded-circle text-center">
                    <a href="#" class="">
                        <i class="fa-brands fa-twitter text-white "></i>
                    </a>
                    </div>
                </div>
                <div class="p-2">
                    <div class="card-iconfooter bg-light bg-opacity-50 rounded-circle text-center">
                    <a href="#" class="">
                        <i class="fa-brands fa-instagram text-white "></i>
                    </a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </footer>
    <section class="small-FOOTER">
        <div class="container">
        <div class="row">
            <div class="col">
            <div class="d-flex justify-content-center">
                <div>
                    <p>Copyright 2022 And sell All rights reserved | Powered by 
                        <span style="color: #EB603A;">Wedad Integrated Solutions</span>
                    </p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>