.last-section
{
    background-color: 
    #011720;
    width: 100%;
    height: 50%;
}
.BUTTON1-footer
{
    border: none;
    background-color: whitesmoke;
    color: #E57C48;
    font-size: 16px;
    cursor: pointer;
}
.BUTTON1-footer:hover{
    background-color: #E57C48;
    color: white;
}
.BUTTON2-footer
{
    border: none;
    background-color: #E57C48;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.BUTTON2-footer:hover{
    background-color:whitesmoke;
    color: #E57C48;
}
.card-iconfooter
{
    width: 32px;
    height: 32px;
    line-height: 33px;
}
.small-FOOTER
{
    width: 100%;
    height: 5%;
}
.last-section h6{
    color: #E57C48;
    font-size:medium;
}
.last-section a
{
    color: white;
    text-decoration: none !important;
}
.last-section ul li a:hover
{
  color: #E57C48 !important;
}
.last-section a i:hover
{
    color: #E57C48 !important;
}
