<app-header></app-header>
<section class="mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h2 style="color: #E57C48;" class="border p-3">My Orders</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 bg-dark bg-opacity-10 rounded-2">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover border-secondary text-center  align-middle mt-3">
                        <thead class="table-dark text-white">
                            <tr>
                            <th>Date</th>
                            <th>Number of products</th>
                            <th>Product</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let arrayLength of lenghtOfArray ">
                            <tr>
                            <td class="fw-bolder">{{arrayLength.date | date:'dd/MM/yyyy hh:mm a'}}</td>
                            <td>
                                {{arrayLength.length}}
                            </td>   
                            <td>
                                                                <!-- Button trigger modal -->
                                <button type="button" class="btn" style="background-color: #E57C48; color: white;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    View
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Purchase Details</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="table-responsive" >
                                                <table class="table text-center table-hover align-middle mt-3">
                                                    <thead class="table-secondary">
                                                        <tr>
                                                        <th></th>
                                                        <th>Name</th>
                                                        <th>Price</th>
                                                        <th >Quantity</th>
                                                        <th>Total</th>
                                                        <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-secondary">
                                                        <tr >
                                                        <th><img style="width: 100px; height: 100px;" src=""></th>
                                                        <td></td>
                                                        <td> L.E</td>
                                                        <td></td>
                                                        <td> L.E</td>
                                                        <td></td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot class="table-group-divider">
                                                        <tr>
                                                            <td colspan="6" class="text-end">Total :  L.E</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>